/* tslint:disable */
import { Injectable } from '@angular/core';

/**
 * Global configuration for {{prefix}} services
 */
@Injectable({
  providedIn: 'root',
})
export class {{configurationClass}} {
  rootUrl: string = '{{{rootUrl}}}';
  grant_type: string = '{{{grant_type}}}';
  client_id: string = '{{{client_id}}}';
  client_secret: string = '{{{client_secret}}}';
}

export interface {{configurationInterface}} {
  rootUrl?: string;
  grant_type?: string;
  client_id?: string;
  client_secret?: string;
}
